{{!< default}}

{{#post}}

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<div id="push">

			<header class="post-header">
				<span class="post-meta">
					<span class="post-author">{{author}}</span> | <span class="post-date">{{date format="DD MMM YYYY"}}</span>
				</span>
				<div class="clear"></div>
				<h1 class="post-title">{{{title}}}</h1>
			</header>

			<section class="post-content">
				{{content}}
			</section>

			<footer class="post-footer">
				<div>
                    <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
                        <div class="post-author-info">
                            <div style="float: left;">
                                <h4 class="post-footer-heading">Escrito por</h4>
                                <div>
                                    <div>
                                        <a href="{{author.website}}" itemprop="url" class="post-author-name">
                                            <span itemprop="name">{{author.name}}</span>
                                        </a>
                                    </div>
                                    <div>
                                        {{#if author.twitter}}
                                        <a class="icon-twitter" target="_blank" href="{{author.twitter}}">
                                            <span>Twitter</span>
                                        </a>
                                        {{/if}}
                                        {{#if author.facebook}}
                                        <a class="icon-facebook" target="_blank" href="{{author.facebook}}">
                                            <span>Facebook</span>
                                        </a>
                                        {{/if}}
                                        {{#if author.gplus}}
                                        <a class="icon-gplus" target="_blank" href="{{author.gplus}}">
                                            <span>Google+</span>
                                        </a>
                                        {{/if}}
                                        {{#if author.linkedin}}
                                            <a class="icon-linkedin" target="_blank" href="{{author.linkedin}}">
                                                <span>Linkedin</span>
                                            </a>
                                        {{/if}}
                                    </div>
                                </div>
                                <p itemprop="description" class="post-author-bio">{{author.bio}}</p>
                                {{#if author.location}}
                                    <p class="post-author-location">{{author.location}}</p>
                                {{/if}}
                                {{#if author.website}}
                                    <p class="post-author-website">
                                        <a href="{{author.website}}" rel="nofollow">{{author.website}}</a>
                                    </p>
                                {{/if}}
                                <p class="post-info">
                                    <b class="post-info-title">Publicado en</b>
                                    <time class="post-date">{{date format='MMMM DD, YYYY'}}</time>
                                </p>
                            </div>
                            <div>
                                {{#if author.image}}
                                    <a href="{{author.website}}" class="post-author-avatar">
                                        <img itemprop="image" src="{{author.image}}" alt="{{author.name}}">
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
				<div class="post-tags">
					{{tags separator=" "}}
				</div>
				<div class="post-share">
                    <div>
                        <span>Compartelo: </span>
                    </div>
                    <div>
                        <a class="icon-twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span>Twitter</span>
                        </a>
                        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span>Facebook</span>
                        </a>
                        <a class="icon-gplus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span>Google+</span>
                        </a>
                    </div>
				</div>
			</footer>

            <div id="disqus_thread"></div>
            <script>

                var disqus_config = function () {
                    this.page.url = '{{@blog.url}}{{url}}'
                    this.page.identifier = 'ghost-{{post.id}}';
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = 'http://quetecomo.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

			<aside class="post-comments">
				<div id="disqus_thread"></div>
			</aside>

			</div>

			<nav class="post-nav">
				{{#next_post}}
					<a class="post-nav-item post-nav-next" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/next_post}}
				{{#prev_post}}
					<a class="post-nav-item post-nav-prev" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</nav>

			{{/post}}

		</div>
	</article>
</main>
